@media (min-width: 500px) {
    body {
        margin-top: 4%;
        margin-bottom: 4%;
        background-color: #fdfdfd;
    }
    .links{
        margin-top: 40px;
    }
}

@media (max-width: 500px){
    body {
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #fdfdfd;
    }
    
    .links{
        margin-top: 10px;
    }
}

html{
    font-family: 'Roboto', sans-serif;
    color: #444;
}



a {
    color:  #003399;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a.linkedin {color: black;}
a.linkedin:link {text-decoration: none; color: black;}
a.linkedin:visited {text-decoration: none; color: black;}
a.linkedin:hover {text-decoration: none; color: #007bb5;}
a.linkedin.active {text-decoration: none; color: black;}

a.github {color: black;}
a.github:link {text-decoration: none; color: black;}
a.github:visited {text-decoration: none; color: black;}
a.github:hover {text-decoration: none; color: #cbc292;}
a.github.active {text-decoration: none; color: black;}

a.gmail {color: black;}
a.gmail:link {text-decoration: none; color: black;}
a.gmail:visited {text-decoration: none; color: black;}
a.gmail:hover {text-decoration: none; color: #dd4b39;}
a.gmail.active {text-decoration: none; color: black;}

ul{
    list-style-type: none;
}

.left-bar{
    border-left: solid 1px #aaa;
    padding-left: 2em;
}

.bottom-bar{
    border-bottom: solid 1px #aaa;
    padding-bottom: .4em;
    margin-bottom: 1em;
}

.blog{
    padding-left: 0;
}

.blog-post{
    position:relative;
}

.blog-date{
    position:absolute;
    right:0px;
    top:4px;
}