<!DOCTYPE html>

<html>

<head>
	{% include head.html %}
</head>

<body>
	<div class='container'>

		<div id="layout" class="row">
			<div class="links col-md-2 col-md-offset-1 col-sm-2 col-xs-offset-0">
				{% include navigation.html%}
			</div>
			<div class="left-bar col-md-8 col-sm-10 col-xs-12">
				<div class="row">
				    <div class="col-md-12">
				        <h2 class="bottom-bar">{{ page.header }}</h2>
				    </div>
				</div>
				{{ content }}
			</div>
		</div>
	</div>
</body>

</html>
